In [3]:
def syracuse(n: int) -> list:
    '''Retourne la liste des valeur de la suite en partant de n jusqu'a 1'''
    liste = [n]
    while n != 1:
        if n%2 == 0 :
            n = n // 2
        else:
            n = n * 3 + 1
        liste.append(n)
    return(liste)

print(syracuse(3))

[3, 10, 5, 16, 8, 4, 2, 1]

In [4]:
def testeConjecture(n_max):
    """ Teste la conjecture de Collatz pour toutes les valeurs de 1 à n_max """
    for i in range(1,n_max + 1):
        syracuse(i)
    return True

print(testeConjecture(10000))

True

In [5]:
def tempsVol(n):
    """ Retourne le temps de vol de n """
    return len(syracuse(n))-1
    

print("Le temps de vol de", 3, "est", tempsVol(3))

Le temps de vol de 3 est 7

In [6]:
def tempsVolListe(n_max):
    """ Retourne la liste de tous les temps de vol de 1 à n_max """
    return[tempsVol(i)for i in range(1,n_max + 1)]

print(tempsVolListe(100))

[0, 1, 7, 2, 5, 8, 16, 3, 19, 6, 14, 9, 9, 17, 17, 4, 12, 20, 20, 7, 7, 15, 15, 10, 23, 10, 111, 18, 18, 18, 106, 5, 26, 13, 13, 21, 21, 21, 34, 8, 109, 8, 29, 16, 16, 16, 104, 11, 24, 24, 24, 11, 11, 112, 112, 19, 32, 19, 32, 19, 19, 107, 107, 6, 27, 27, 27, 14, 14, 14, 102, 22, 115, 22, 14, 22, 22, 35, 35, 9, 22, 110, 110, 9, 9, 30, 30, 17, 30, 17, 92, 17, 17, 105, 105, 12, 118, 25, 25, 25]

In [8]:
liste_temps = tempsVolListe(10000)
temps_max = max(liste_temps)
print("l'entier",liste_temps.index(temps_max)+1,"à la plus grand temps de vol égal à",temps_max)

l'entier 6171 à la plus grand temps de vol égal à 261

In [14]:
def altMax(n:int) -> int:
    return max(syracuse(n))

def altMaxliste(n_max: int) -> list:
    return [altMax(i) for i in range(1,n_max+1)]

list_alt = altMaxliste(10000)
altitude_max= max(list_alt)
print("l'entier", list_alt.index(altitude_max)+1,"a la plus grande altitude maximale égale à",altidude_max)

l'entier 9663 a la plus grande altitude maximale égale à 27114424