In [ ]:
1 +1

In [ ]:
a = 1 + 1

In [ ]:
a

In [ ]:
print(a)

In [ ]:
a += 1

In [ ]:
print(a)

In [1]:
print(a)

NameError: name 'a' is not defined

In [2]:
a = 5
b = 2
print(a,b)

5 2

In [3]:
a,b = b,a
print(a,b)

2 5

In [4]:
print("a vaut", a, "b vaut",b)

a vaut 2 b vaut 5

In [5]:
a = "hello world"

In [6]:
print(a)

hello world

In [7]:
a

'hello world'

In [10]:
type(5)

int

In [11]:
type(5.0)

float

In [12]:
# "5" chaine de caractère
type("5")

str

In [13]:
# -5 entier 
type(-5)

int

In [14]:
# 5/2 float
type(5/2)

float

In [15]:
# 5 // 2 entier
type(5//2)

int

In [1]:
var1 = 4.5
var2 = "2.0"
print(var1+var2)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [2]:
4/2

2.0

In [3]:
4//2

2

In [4]:
print(5 * 3 == 15 or 4 * 2 == 9 and 18 // 6 == 2)

True

In [7]:
print(type(12 == 3 * 4))

<class 'bool'>

In [9]:
a = int(input("saisir un nombre entier"))
b = int(input("saisir un nombre entier"))
if a > b :
    a,b = b,a
    print(a,b)
else :
    print(a,b)

3 5

In [2]:
import random

nombre_double = random.randint(10,100)
a = int(input("sair un nombre à un chiffre inférieur à 10"))
if a > 1 and a < 10 :
    print("Diviseur")

Diviseur

In [4]:
var1 = int(input("saisir un chiffre"))
var2 = int(input("saisir un chiffre"))
if var1 < 0 and var2 < 0 or var1 > 0 and var2 > 0 :
    var1 = var2
    var2 = var1
    print(var1, var2)
else :
    var1 = var1**2 + var2*2
    var2 = var1 * var2
    print(var1, var2)

5 5

In [10]:
n = int(input("saisir un nombre"))
solde_bancaire = 0
compteur_annee = 0
while compteur_annee != n :
    solde_bancaire = 120*n + compteur_annee * 3
    compteur_annee += 1
print("au bout de son",n, "ieme anniversaire son enfant aura", solde_bancaire, "euros")

au bout de son 1 ieme anniversaire son enfant aura 120 euros

In [53]:
nombre_de_depart = int(input("saisir un nombre"))
for i in range(nombre_de_depart + 1) :
    print(i)